<AuthorizeView>
    <Authorized>
      
        <a href="#">Hello, @context.User.Identity.Name!</a> 
        &nbsp; &nbsp;
        <a href="account/login">Log Out</a>


    </Authorized>
    <NotAuthorized>
        <a href="account/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>