@page "/setup"
@attribute [Authorize]

<h3>Setup</h3>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--Navbar Header Start Here-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C-sharp Corner</a>
        </div>
        <!--Navbar Header End Here-->
        <!--Menu Start Here-->
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <!--Menu End Here-->
    </div>
</nav>
