@page "/setup"
@attribute [Authorize]
@inherits SetupBase

<div id="DivSetupList">


    <ul>
        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ASRC", StringComparison.OrdinalIgnoreCase))
        {
            <li><a class="active" href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("ADBCA", StringComparison.OrdinalIgnoreCase))
        {
            <li><a class="active" href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="propertylist">Properties</a></li>
            <li><a href="tenantlist">Tenants</a></li>
        }

        @if (!string.IsNullOrEmpty(CompanyId) && CompanyId.Equals("APMI", StringComparison.OrdinalIgnoreCase))
        {
            @*<li><a class="active" href="employeelist">Employee</a></li>*@
            <li><a class="active" href="glaccountlist">General Ledger</a></li>
            <li><a href="vendorlist">Vendors</a></li>
            <li><a href="customerlist">Customers </a></li>
            <li><a href="employeelist">Employees </a></li>

        }

    </ul>

</div>
