@page "/setup"
@attribute [Authorize]



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="active"><a href="setup">SET UP</a></li>
                <li><a href="tenantlist">TENANT</a></li>
                <li><a href="propertylist">PROPERTY</a></li>
                <li><a href="propertylist">PROPERTY DIRECTORY</a></li>
                <li><a href="vendorlist">VENDOR</a></li>
                <li><a href="glaccountlist">GL ACCOUNT</a></li>
            </ul>
        </div>
    </nav>