
.vs/terminus-webapp/DesignTimeBuild/.dtbcache
.vs/terminus-webapp/v16/.suo
.vs/terminus-webapp/v16/Server/sqlite3/db.lock
.vs/terminus-webapp/v16/Server/sqlite3/storage.ide
/.vs/terminus-webapp/v16/Server/sqlite3
/UI/obj
/Shared/terminus.shared.models/bin/Debug/netcoreapp3.1
/Shared/terminus.shared.models/obj
/UI/bin/Debug/netcoreapp3.1
*.user
.vs/terminus-webapp/config/applicationhost.config
/Shared/bin
/Shared/obj
/UI/bin/Release/netcoreapp3.1
/UI/Properties/PublishProfiles/FolderProfile.pubxml
/Shared/libman.json
/UI/libman.json
/UI/wwwroot/Uploaded/20200203a7d7aaba-c165-4009-9696-6904cab21b71.xlsx
*.xlsx
.vs/terminus-webapp/xs/project-cache/terminus-webapp-Debug.json
.vs/terminus-webapp/xs/project-cache/terminus.shared.models-Debug.json
.vs/terminus-webapp/xs/sqlite3/db.lock
.vs/terminus-webapp/xs/sqlite3/storage.ide
.vs/terminus-webapp/xs/UserPrefs.xml
.vs/terminus-webapp/xs/sqlite3/storage.ide-shm
.vs/terminus-webapp/xs/sqlite3/storage.ide-wal
UI/.DS_Store
.DS_Store
/.vs/terminus-webapp/DesignTimeBuild
/terminus.dataaccess/obj
/terminus.dataaccess/bin/Debug/netcoreapp3.1
